<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pokemons list</title>
</head>
<body>
<h1>Pokemons</h1>
    <form th:action="@{/pokemon/search}" th:object="${pokemon}" method="POST">
        <label for="name">Pokémon Name:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Enter Pokémon name"/>
        <input type="submit" value="Submit"/>
    </form>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <th>Total</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>SP Atk</th>
        <th>SP Def</th>
        <th>Speed</th>
        <th>Generation</th>
        <th>Legendary</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pokemon : ${pokemons}">
        <td th:text="${pokemon.id}">ID</td>
        <td th:text="${pokemon.name}">Name</td>
        <td th:text="${pokemon.type1}">Type 1</td>
        <td th:text="${pokemon.type2}">Type 2</td>
        <td th:text="${pokemon.total}">Total</td>
        <td th:text="${pokemon.hp}">HP</td>
        <td th:text="${pokemon.attack}">Attack</td>
        <td th:text="${pokemon.defense}">Defense</td>
        <td th:text="${pokemon.sp_atk}">SP Atk</td>
        <td th:text="${pokemon.sp_def}">SP Def</td>
        <td th:text="${pokemon.speed}">Speed</td>
        <td th:text="${pokemon.generation}">Generation</td>
        <td th:text="${pokemon.legendary ? 'Yes' : 'No'}">Legendary</td>
    </tr>
    </tbody>
</table>
</body>
</html>
